[Unit]
Description=Anomali Detection Servisi
[Service]
ExecStart=/home/user_name/CoreSense/scripts/sanal_ortam/bin/python3 /home/user_name/CoreSense/src/lstm_anomali_predictor.py
WorkingDirectory=/home
StandardOutput=journal
StandardError=journal
Restart=always
User=user_name
[Install]
WantedBy=multi-user.target
