[Unit]
Description=CoreSense Servisi
[Service]
ExecStart=/home/orangepi/CoreSense/scripts/commends.sh
WorkingDirectory=/home
StandardOutput=journal
StandardError=journal
Restart=always
User=orangepi
[Install]
WantedBy=multi-user.target

