[Unit]
Description=CoreSense Servisi
[Service]
ExecStart=/home/user_name/CoreSense/scripts/commends.sh
WorkingDirectory=/home
StandardOutput=journal
StandardError=journal
Restart=always
User=user_name
[Install]
WantedBy=multi-user.target

