[Unit]
Description=CoreSense Servisi
[Service]
ExecStart=/home/orangepi/cpu_frequency.sh
WorkingDirectory=/home/orangepi
StandardOutput=journal
StandardError=journal
Restart=always
User=root
Environment="HOME=/home/orangepi"
[Install]
WantedBy=multi-user.target

